*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.navbar{
  align-items: center;
  display: flex;
  background-color: antiquewhite;
  padding: 10px;
  width: 100vw;
  justify-content: space-around;
}
.navbar .logo{
  font-size: 25px;
  font-weight: bold;
  color: red;

}
.navbar .search{
  width:55%;
  padding: 11px;
  border-radius:5px;
  border: 2ps solid gray;
  outline: none;
  border: none;
  

}

.service{

}
.service-section{
  display: flex;
}
.select-service{
  display: flex;

}
.select-service img{
  width: 35px;
}
.s-section{
  /* background-color: blue; */
  margin: 0 20px;
/* transition:all 1s ease-in ; */
}
.s-section:hover{
  border-bottom: 2px solid red;
}
.link{
  display: flex;
  margin: 20px;
  text-decoration: none;
display: flex;
align-items: center;
  
}
.link img{
margin-right: 5px;

}
.pagination{
  margin: 10px;
}
.last{
  color: gray;


}
.menu{
  margin-top:20px ;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}







.f-cart{
  border-bottom: 1px solid gray;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  margin: 10px;
  width: 250px;
  padding-bottom: 10px;
  border-radius: 20px;
  padding: 5px;
}
.cart-img{
  border-radius: 20px;
  width: 100%;
}
.h3{
  text-align: center;
}
.lower{
  padding-right:5px ;
  display: flex;
  margin-bottom: 10px;
  
  justify-content: space-between;
}

.insidefilter{
  display: flex;
  gap: 20px;
  margin-top: 15px;
  margin-left: 20px;

}
.insidefilter .i-link{
  display: flex;
  align-items: center;
  border: 1px solid rgb(171, 169, 169);

  background-color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  color: gray;
}


.insidefilter .i-link:hover{
background-color: gray;
color: white;
}

.dinignout{
  /* font-size:70px;
  font-weight: bold;
  color: red;
  text-align: center; */
}
